$head1: 28px;
$head2: 22px;
$text: hsl(240, 18%, 30%);

$white: hsl(0, 0%, 100%);
$violet: hsl(239, 38%, 59%);
$hover-text: hsl(239, 36%, 73%);
$hover-btn: hsl(239, 39%, 64%);
$bg: hsl(240, 100%, 99%);
$pink: hsl(318, 100%, 93%);
$pink2: hsl(356, 78%, 75%);
$nm-text: hsl(0, 0%, 71%);